*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.top{
    background-color: rgb(0, 117, 190);
    height: 10px;
}
strong{
    font-weight: 700;
    display: block;
    font-size: 1.1rem;
}
.contents{
    padding-top: 1.2em;
    border-top: 1px solid rgb(228, 224, 224);
    border-bottom: 1px solid rgb(228, 224, 224);
    /* height: 66vh; */
}
.contents .amount{
    font-size: 1.4rem;
    font-weight:400;
    color: rgb(71, 70, 70);
}
.to{
    font-size: 1.1rem;
    font-weight: 400;
    color: gray;
}
.name-logo{
    font-size: 1.4em;
    background: -webkit-linear-gradient(top, #cc0223 28%, #016b14 29%, #016b14 44%, #016b14 63%, #3b01c1 64%, #3b01c1 85%, #febf01 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid rgb(220, 218, 218);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
  .details h6{
    font-weight: 700;
    margin: 0;
    color: rgb(37, 37, 37);
  }
  .details span{
    font-size: 0.85rem;
    color: rgb(37, 37, 37);
    font-weight: 500;
  }
  .detail h6{
    margin: 0;
    font-weight: 500;
    color: gray;
    font-size: .9rem;
  }
  .detail p{
    font-weight: 500;
    font-size: 1rem;
  }
  .bottom{
    padding-top: 1.5em;
  }
  .send-money-btn{
    bottom: 20px;
    background-color: rgb(0, 117, 190);
    color: white;
    border-radius: 25px;
    padding: 12px 50px;
    border: 0;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1.5em;
  }
  .edit{
    color: rgb(0, 117, 190);
    font-weight: 700;
    font-size: .9rem;
}
.edit i{
    font-size: 1.1rem;
}
