*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: white;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(0, 117, 190);
    color: white;
    padding-bottom: 50px;
}
header img{
  margin-left: -16px;
}
header nav{
  position: relative;
}
main{
    position: relative;
}

.quick-action-con{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quick-actions-con{
  background-color: whitesmoke;
  border-radius: 8px;
  /* position: relative; */
  width: 100%;
  margin-top: -45px;
  z-index: 100;

}
.bi-chat-left{
    z-index: 1;
    position: absolute;
    right: 50px;
    top: 13px;
}
.chat-right{
  right: 45px;
  position: absolute;
  z-index: 2;
}
.quick-actions .actions{
  font-size: .6rem;
  font-weight: 700;
}
.caret-down-fill{
    border: 0;
  background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    margin-top: -20px;
}
.bi-caret-down-fill{
    position: absolute;
  right: 15px;
}
.bg-mark{
  height: 3px;
  background-color: rgb(0, 117, 190)  ;
  width: 40px;
  border-radius: 10px;
}
.box {
  --r:50px; /* radius*/
  --g:18px; /* gap */
  
  width:40px;
  height:40px;
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing:border-box;
  position:relative;
  /* margin:10px; */
}
 
.box:before {
  content:"";
  position:absolute;
  inset:0;
  border:3px solid rgb(20, 89, 153);
  border-radius:var(--r);
  --m:#0000 90deg,#000 0; 
  -webkit-mask:
    conic-gradient(from -180deg at calc(100% - var(--g)) var(--g)            ,var(--m))
        0    100%/var(--r) var(--r),
    conic-gradient(from  90deg at var(--g)              var(--g)             ,var(--m))
        100% 100%/var(--r) var(--r),
    conic-gradient(from   0deg at var(--g)              calc(100% - var(--g)),var(--m))
        100% 0   /var(--r) var(--r),
    conic-gradient(from -90deg at calc(100% - var(--g)) calc(100% - var(--g)),var(--m))
        0    0   /var(--r) var(--r),
    linear-gradient(#000 0 0);
   -webkit-mask-repeat:no-repeat;
   -webkit-mask-composite:xor;
   mask-composite:exclude;
}

.savings-con{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(158, 210, 227);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
}

.savings-con .bi-piggy-bank{
  font-size: 1.3rem;
  color: rgb(0, 117, 190);
  
}
.savings-con .bi-currency-dollar{
   font-size: .5rem;
   position: absolute;
   right: 9px;
   bottom: 5px;
}
.goal-percent{
  flex: 1;
}
.goal-percent p {
  margin: 0;
  padding: 0;
}
.percent-con{
  border: 1px solid gray;
  height: 8px;
  border-radius: 8px;
  margin-left: .5em;
  padding-left: .8px;
}

.percentage-towards-goal{
  background-color: rgb(22, 253, 168);
  width: 75%;
  height: 100%;
}
.goal-percent .fs{
  font-size: 0.65rem;
  text-align: center;
  font-weight: 500;
  color: gray;
}
.money-saved{
  font-size: .75rem;
  text-align: end;
  color: rgb(0, 117, 190);
}
.savings-container{
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}
.nav-bottom{
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav-bottom span{
  font-size: .7rem;
  font-weight: 500;
}
.greeting{
  color: gainsboro;
}
.date{
  font-size: .7rem;
  font-weight: 500;
  padding-top: 0.3em;
}
.clock{
  font-weight: 600;
  font-size: .8rem;
}
.network{
  font-size: 1rem;
}
.quick-action{
  font-size: .7rem;
  color: rgb(232, 229, 229);
  font-weight: 400;
}
.quick-actions i{
  font-weight: 600;
  font-size: 1.2rem;
}
.quick-actions{
  font-size: 9rem;
  font-weight: 500;
}
.zelle{
  height: 20px;
  margin-top: -5px;
}
