*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: whitesmoke;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
  font-size: 1rem;

}
.content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 14px;
}
.optional{
    font-size: 1rem;
    font-weight: 500;
    color: gray;
}
.contact,.from,.amount,.message{
    margin-top: 1.2em;
    font-size: .85rem ;
    font-weight: 600;

}
.contact,.contact-border,.details span,.from,.amount,.message{
    color: rgb(94, 92, 92);
}
.contact-border,.chequing,.cash,.message-border{
    border: 1px solid rgb(156, 153, 153);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: .9rem;
    font-weight: 600;
}
.bi-chevron-down{
    color: rgb(0, 117, 190);
    font-size: 1rem;
    font-weight:900;
}
.name-logo{
    font-size: 1.2em;
    background: -webkit-linear-gradient(top, #cc0223 28%, #016b14 29%, #016b14 44%, #016b14 63%, #3b01c1 64%, #3b01c1 85%, #febf01 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid rgb(220, 218, 218);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  .contact-details{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }
  .details h6{
    color: rgb(0, 117, 190);
    font-weight: 600;
    margin: 0;
  }
  .details span{
    font-size: 0.85rem;
    font-weight: 700;
  }
  .edit{
    color: rgb(0, 117, 190);
    font-weight: 600;
    font-size: 1rem;
    margin-right: 1em;
} 
.chequing span,.cash span{
    font-weight: 500;
    color: rgb(63, 63, 63);
    font-size: 1rem;
}
.format,.words{
    font-weight: 600;
    font-size: .8rem;
    color: rgb(134, 134, 134);
    margin: .7em 0;
}
.limits{
    border-left: 3px solid rgb(188, 185, 185);
    padding: 0em 0em 0em .6em;
}
.limits p{
    margin: 0;
    font-size: .95rem;
    font-weight: 600;
    color: rgb(110, 109, 109);
    line-height: 1.4;
}
.limits p strong{
    color: rgb(38, 38, 38);
    font-size: .8rem;
}
.message-border{
    height: 40px;
}
.security-question{
    color: rgb(0, 117, 190);
    font-weight: 600;
    font-size: .85rem;

}
.limits .bi-info-circle{
    color: rgb(0, 117, 190);
    font-weight: 900;
    font-size: 1.2rem;
    margin-left: .2em;
}
